{% extends 'base/base.html' %}

{% block exp_info_block %}
    <p> <!-- a href="/treconomics/logout">Logout</a> -->
{% endblock %}

{% block exp_block %}

<div class="experimentPageTitle">

    <h1>Practice Task Completed</h1>
    <p>
        <strong>You have now completed the practice task.</strong>
</p>

    <hr/>
 <p>
    Of the <span style="color: #3366FF;">{{ performance.total_marked}}</span> documents you bookmarked,
     <span style="color: #3366FF;">{{ performance.estimated_rels|floatformat:0 }}</span> were relevant
according to gold standard labels from professional judges, giving an accuracy of:
 <span style="color: #3366FF;">{{ performance.estimated_acc|floatformat:2}}. </span>
 </p><p>
    Note that we consider your task successful,
    if you find a number of documents with accuracy greater than <span style="color: #3366FF;">0.5</span>.</p>

    <p>Note, the practice task scores do not count to your HIT. We are providing them as guidance only.</p>

<hr/>

<p>
    After each search task, you will be asked to list as many of the examples as you can remember. <br/>
    These examples MUST come from the documents that you have bookmarked.

</p>
<p>
<div id="taskbox">
    For this practice about piracy at sea, examples of SHIPS/BOATS and the SEA the incident happened, would include, for instance:
    <ul>
    <li>The Petro Ranger in the South China Sea </li>
    <li>The Cheung Son in the South China Sea </li>
    <li>The Tenyu in the Strait of Malacca</li>
    <li>The Achilles Lauro in the Mediterranean Sea </li>
    <li>The Engin in the Suez Canal</li>
    <li>The Marine Master in the Andaman Sea</li>
    <li> etc...</li>
    </ul>
    </p>
</div>
<p></p>

    <p>
        Click the button below to proceed.
    </p>



<div class="surveySubmitButton nextButton" style="text-align: center;">
        <a class="nextButton" href="{% url 'treconomics:next' %}">
            <button class="button nextButton" type="next"> Next</button>
        </a>
    </div>

</div>
{% endblock %}


{% block exp_footer_block %}
    Participant: {{ participant }}  - Condition: {{ condition }} - Task: {{ task }}  - Interface: {{ interface }}
{% endblock %}
