{% extends 'base/base.html' %}

{% block exp_info_block %}
    <p> <!-- a href="/treconomics/logout">Logout</a> -->
{% endblock %}

{% block exp_block %}

<div class="experimentPageTitle">

    <h1>Practice Task Completed</h1>
    <p>
        <strong>You have now completed the practice task.</strong>
</p>

    <hr/>
 <p>
      <p><strong>Number of documents saved: <span style="color: #3366FF;">{{ performance.total_marked}}</span></strong></p>
    <p><strong>Number of relevant documents saved: <span style="color: #3366FF;">{{ performance.estimated_rels|floatformat:0 }}</span><br/> according to gold standard labels from professional judges</strong> </p>
    <p> <strong>Accuracy: <span style="color: #3366FF;">{{performance.estimated_acc|floatformat:2}}</span></strong> (Accuracy greater than <span style="color: #3366FF;">0.5</span>. required.)</p>
    <p>
        {% if performance.estimated_acc > 0.5 %}
        <b style="color:green">Success - Your accuracy for the practice task was high enough.</b> Keep up the good work, and make sure you complete the tasks as accurately as possible to make sure you are fully rewarded.
        {% else %}
        <b style="color:red">Warning - Your accuracy was too low.</b> If you continue at this accuracy you may not be rewarded or your reward may be reduced.

        {% endif %}

    </p>


 </p><!--p>
    Note that  if your average performance is not above <span style="color: #3366FF;">0.5</span>. then you may not be rewarded for your HIT or that your reward is reduced.
</p--->

    <p>Note that the practice task scores do not count to your HIT. We are providing them as guidance only.</p>

<hr/>

<p>
    After each search task, you will be asked to list as many of the examples as you can remember. <br/>
    These examples MUST come from the documents that you have bookmarked.

</p>
<p>
<div id="taskbox">
    For this practice about piracy at sea, examples of SHIPS/BOATS and the SEA the incident happened, would include, for instance:
    <ul>
    <li>The Petro Ranger in the South China Sea </li>
    <li>The Cheung Son in the South China Sea </li>
    <li>The Tenyu in the Strait of Malacca</li>
    <li>The Achilles Lauro in the Mediterranean Sea </li>
    <li>The Engin in the Suez Canal</li>
    <li>The Marine Master in the Andaman Sea</li>
    <li> etc...</li>
    </ul>
    </p>
</div>
<p></p>

    <p>
        Click the button below to proceed.
    </p>



<div class="surveySubmitButton nextButton" style="text-align: center;">
        <a class="nextButton" href="{% url 'treconomics:next' %}">
            <button class="button nextButton" type="next"> Next</button>
        </a>
    </div>

</div>
{% endblock %}


{% block exp_footer_block %}
    Participant: {{ participant }}  - Condition: {{ condition }} - Task: {{ task }}  - Interface: {{ interface }}
{% endblock %}
