{% extends 'base/base.html' %}

{% block exp_info_block %}
    <p> <!-- a href="/treconomics/logout">Logout</a> --></p>
{% endblock %}

{% block exp_block %}
    <script>
        $(document).ready(function () {
            $('.surveySubmitButton').click(function () {
                $(this).hide()
            });
        })
    </script>

    <div class="experimentPageTitle">
        <p>

        <h1> Practice Task</h1></p>


        <p> In order to get acquainted with the search system and newspaper database,
            we would like you to practice for a couple of minutes using the system to undertake a task similar to those
            you will need to undertake. Below is a description of the system.
        </p>

         <h2><b>The Search System and Search Task</b></h2>
    <p>The search system that you will use connects to a database of about 1.8 million newspaper articles from the
            <em>New York Times</em>. The articles within the database range from 1987 to 2007.
        The search system you'll be using looks similar to a web search
            engine.
    </p>

    <p>
        For each search task, you'll be given a topic (like the one shown below in blue).
        </p>

         <div id="taskbox">
            <p>{% autoescape off %} {{ taskdescription }} {% endautoescape %} </p>

             <b>Your goal is to find and save several relevant and different examples for the topic. </b>

        </div>

          <hr/>

    <p>
        The system will let you enter queries and look at results, just like you would in a normal search engine.
    </p>

        <p>When you view a document which contains a relevant example, then you can click the
            <b>Bookmark</b> button to save it.</p>

        <p>If you need to remind yourself of the search task, you will be able to click the <b>show task</b>.</p>

        <p>Once you find a number of relevant examples, you can click <b>end task</b>
            to proceed, otherwise the system will automatically time out after about 8 minutes.</p>


<p>
        After searching, you will be asked to list as many examples as possible that you have just found.

        </p>

    <hr/>

        <p>To get familiar with the system, we would like you to:
        <ul>
        <li> Select <b>Show Task</b> to remind you what the topic of the search task is.</li>
            <li> Search for documents about this topic by entering queries. </li>
            <li> Try entering a few different queries.</li>
        <li> Save a document by <b>bookmarking it</b>.</li>
            <li> Scroll down to click on the <b>Next</b> page button, and</li>
        <li> Review your list of documents by selecting <b>View Saved</b>.</li>
        <li>Note the system will automatically time out after 4 minutes and show you your performance.</li>
        </ul>
        </p>

    </div>


    <div style="text-align: center;">
        <p>Click Next to start the practice task.</p>
        <hr/>
        <div class="surveySubmitButton nextButton">
        <a class="nextButton" href="{% url 'treconomics:next' %}">
            <button class="button nextButton" type="next"> Next</button>
        </a>
    </div>
    </div>


{% endblock %}


{% block exp_footer_block %}
    Participant: {{ participant }}  - Condition: {{ condition }} - Task: {{ task }}  - Interface: {{ interface }}
{% endblock %}
