{% extends 'base/base.html' %}

{% block exp_block %}

    <div class="topmargin">

        {% if invalid %}
            <div>
                <b>Invalid participant details supplied.</b>
            </div>
        {% endif %}

          <p> <h1> News Search System Study </h1></p>

        <p>
        This HIT involves performing four search tasks of approx. 5-10 minutes each using four Newspaper search engines.
        For each search task, you will be given a topic, such as: </p>
        <div id="taskbox" style="padding:5px">
            Find and bookmark articles that discuss instances of piracy,
            where DIFFERENT BOATS/SHIPS have been illegally taken control of or boarded.
        </div>
        <p>
    After each search task, you will be asked to recall aspects of what you found. In the above, example, the different boats/ships involved.
    This will be
 followed by a series of short survey questions
        asking you about the difficulty of the topic, your search experience and the performance of each search engine.
        <br/>
        </p>
        <p>
             The HIT will stat with a short demographics survey and perceptual speed test (2 minutes)  you will have the chance to undertake a short practice task (5 minutes max), where you can decide to continue or not.


        </p>

    <p>
    <h2><b>Important Notes</b></h2>
    <ul>
        <li>The HIT will take approximately <b>60 minutes</b>. </li>
        <li>You should be <b>at least 18 years old</b>.</li>
         <li>This study must be completed in a <b>single sitting</b>.</li>
        <li>Do not exit the process unless you intend to decline the HIT.</li>
        <li>You can only participate in this study once.</li>
        <li>In order to conduct this experiment you need to use:
            <ul>
            <li>
            <b>Safari, Firefox or Chrome, only</b></li>
                <li>ensuring that <b>pop-ups are enabled</b> for the site</li>
                <li>and that <b>Ad Blockers are disabled</b> for this site.</li>
                <li>In addition, you need to use <b>laptop or desktop computer</b></li>
                <li>with <b>screen resolution of at least 1024x768 or higher</b></li>
                <li>and use a <b>mouse.</b></li>

            </ul>
                If you use any of these conditions are not met, then your HIT may not be accepted.</li>

        <li>You must complete all search tasks successfully to be paid.</li>
         <li>All the collected data will be treated as confidential and it will not be possible to
            identify you as a person with the data after the experiment as ended.
        </li>


    </ul>


<h2><b>Register</b></h2>
        <p>
            Register to undertake this study by entering your Prolific ID:
        </p>


        <form action="{% url 'treconomics:register-amt-user' %}" method="post">
            {% csrf_token %}
            <!-- cross-site request forgery protection -->
            <table class="searchtable">
                <tr>
                    <td class="searchlabel">Enter your Prolific ID:</td>
                    <td><input class="loginbox" type="text" name="username" value="" id="username" size="50"
                               tabindex="1"/></td>
                    <td><input class="button" type="submit" name="submit" value="Register" tabindex="2"/></td>
                </tr>
            </table>
        </form>

    </div>

    <script>
        $(document).ready(function(){
            var width = screen.width;
            var height = screen.height;

            if ((width !== undefined || height !== undefined) && (width < 1024 || height < 768)) {
                window.location.href = '/screensize';
            }
        });
    </script>
{% endblock %}
