{% extends 'base/base.html' %}
{% load static %}

{% block exp_block %}

    <div class="topmargin">

        {% if invalid %}
            <div>
                <b>Invalid participant details supplied.</b>
            </div>
        {% endif %}

          <p> <h1> News Search System Study </h1></p>

        <p>
        This HIT involves performing four search tasks of approx. 5-10 minutes each using four Newspaper search engines.
        For each search task, you will be given a topic, such as: </p>
        <div id="taskbox" style="padding:5px">
            Find and bookmark articles that discuss instances of piracy,
            where DIFFERENT BOATS/SHIPS have been illegally taken control of or boarded.
        </div>


           <p> <b>Your goal, for each search task, is to find and save several relevant and different documents. </b>
       </p>

        <p><b style="color:red"> NOTE: Your HIT might be declined if your performance is too low i.e. if you save too many non-relevant documents compared to relevant documents.</b></p>

    <p> <b>This means you may not be rewarded for your HIT or that your total reward is reduced, if you do not perform the tasks accurately enough. </b></p>
    <p><b> A short practice task will be provided for you to decided whether to participate.</b></p>
    <hr/>


        <p>




    After each search task, you will be asked to recall aspects of what you found. In the above, example, the different boats/ships involved.
    This will be
 followed by a series of short survey questions
        asking you about the difficulty of the topic, your search experience and the performance of each search engine.
        <br/>
        </p>
        <p>
             The HIT will start with a short demographics survey (1 min), and then you will have the chance to undertake a short practice task (5 minutes max), where you can decide to continue or not.


        </p>

    <p>
    <h2><b>Important Notes</b></h2>
    <ul>
        <li>The HIT will take approximately <b>60-80 minutes</b>. </li>
        <li>You need to be <b>at least 18 years old</b>.</li>
         <li>This study must be completed in a <b>single sitting</b>.</li>
        <li>Do not exit the process unless you intend to decline the HIT.</li>
        <li>The study will appear in a pop-up box - do not resize the window.</li>
        <li>You can only participate in this study once.</li>
        <li>In order to conduct this experiment you need to use:
            <ul>
            <li>
            <b>Safari, Firefox or Chrome only, ensuring:</b></li>
            <ul></ul>
                <li>that <b>JavaScript is enabled</b>;</li>
                <li>that <b>pop-ups are enabled</b> for this site;</li>
                <li>that <b>ad blockers are disabled</b> for this site;</li>
                <li>you are using a <b>laptop or desktop computer</b>;</li>
                <li>you device has a resolution of <b>at least 1024x768</b>; and</li>
                <li>you are using a <b>mouse.</b></li>
                </ul>
            </ul>
                If any of these conditions are not met, then your HIT may not be accepted.</li>

        <li>You must complete the search tasks successfully to be paid.</li>
         <li>All the collected data will be treated as confidential and it will not be possible to
            identify you as a person with the data after the experiment as ended.
        </li>


    </ul>


<h2><b>Register</b></h2>

        <div id="crowdSourceRegistrationWarningArea">
            <p><b>Please correct the following issue(s) before registering for this experiment.</b></p>

            <ul>
                <li class="registrationWarning-list" id="registrationWarning-javascript"><b>Enable JavaScript</b> &mdash; at least for this domain.</li>
                <li class="registrationWarning-list" id="registrationWarning-resolution">Ensure that your screen is a size of <b>at least 1024x768 in resolution.</b></li>
                <li class="registrationWarning-list" id="registrationWarning-adblockers">Ensure that <b>all ad blockers are disabled</b> for this domain.</li>
            </ul>

            <p>Once these issues have been corrected, click <a href="#" onclick="location.reload();">here</a> to let us check if the problems have been removed.</p>

            <p>Once we are satisfied, this message will be removed, and a registration form will appear in its place.</p>
        </div>

        <div id="crowdSourceRegistrationArea">
        <p>
            Register to undertake this study by entering your Prolific ID:
        </p>

        <form action="{% url 'treconomics:register-amt-user' %}" method="post">
            {% csrf_token %}
            <!-- cross-site request forgery protection -->
            <table class="searchtable">
                <tr>
                    <td class="searchlabel">Enter your Prolific ID:</td>
                    <td><input class="loginbox" type="text" name="username" value="" id="username" size="50"
                               tabindex="1"/></td>
                    <td><input class="button" type="submit" name="submit" value="Register" id="crowdsourceRegisterButton" tabindex="2"/></td>
                </tr>
            </table>
        </form>
        </div>

    </div>

    <script src="{% static 'javascripts/ads.js' %}"></script>
    <script src="{% static 'javascripts/registration_checks.js' %}"></script>
{% endblock %}
