{% extends 'base/base.html' %}
{% load static %}

{% block exp_info_block %}
    <p> <!-- a href="/treconomics/logout">Logout</a> --> </p>
{% endblock %}

{% block exp_block %}
    <div style="padding-top:60px">

    <h1>{% if task == 0 %}Practice Task {% else %}Task: {{ task }}{% endif %}</h1>
    <p>
    Below is a description of the topic that you are searching for.
    </p>

        <div id="taskbox">
        <p> {% autoescape off %} {{ taskdescription }} {% endautoescape %}</p>

             <p> {% autoescape off %} {{ remember }} {% endautoescape %}</p>
</div>
    <p><strong>Your task is to find and save several relevant and different articles that you could discuss regarding this topic.
        </strong></p>


    <script type="text/javascript" src="{% static 'javascripts/show_task.js' %}"></script>
    </div>

{% endblock %}


{% block exp_footer_block %}
    Participant: {{ participant }}  - Condition: {{ condition }} - Task: {{ task }}
{% endblock %}
