{% extends 'base/base.html' %}
{% load treconomics_tags %}

{% load static %}

{% block exp_info_block %}
    <script type="text/javascript">
        var APP_ROOT = '{{ application_root }}';

    </script>

<script type="text/javascript" src="{% static 'javascripts/search_helpers.js' %}"></script>

 <p>
     {% if backtoassessment %}
     <a href="{% url 'treconomics:saved' %}?taskid={{ task }}">Back to Saved Documents</a> |
     {% else %}
     <a href="{{current_search}}">Back to Results</a> |
     <a href="{% url 'treconomics:saved' %}?taskid={{ task }}">View Saved</a> |
     {% endif %}
     <a href="JavaScript:taskPopup('/treconomics/showtask/');">Show Task</a>
     | <a href="{% url 'treconomics:next' %}" id="end-task-link"> End Task</a>

</p>
{% endblock %}


{% block document_content %}




<div class="results_squash">
<h1 class="document_title">{{ title }}</h1>
<p class="document_source_date"><b>{{doc_source}}</b> <span> <b>{{doc_date}}</b></span></p>
</div>

 {% if top_ad %}
 <div class="search_result" id="{{ top_ad.topic_num }}" rank="ad-top" page="landing" whooshid="{{docid}}">
            <div class="results_squash">
                <div class="ad">
    <a href="JavaScript:taskPopup('{{top_ad.url}}');">
        <img height="150" src="{{top_ad.adimage.url}}" alt="{{top_ad.title}}" />
        <a></div></div></div>
 {% endif  %}



<div class="results_squash">

<div class="article"> {% autoescape off %} {{ content|linebreaksbrbr:doc_source }} {% endautoescape %}  </div>
</div>

<div id="marked">
     {% if backtoassessment %}
        <button class="largebutton" onclick="window.location.href='{% url 'treconomics:saved' %}?taskid={{ task }}'">Back to Saved Documents</button>
     {% else %}
        <button class="largebutton" onclick="window.location.href='{{current_search}}'">Back to Results</button>
     {% endif %}
<div id="mark">
    <br/>
     {% if user_judgement  == 1 %}
            Saved
     {% else %}
        <button class="largebutton" type="relevant" value="{{ docid }}" name="{{ docid }}" onclick="markRelevant()" > Save </button>
     {% endif %}
     </div>
</div>

<script>
function markRelevant(){$.ajax({ url:"/treconomics/doc/"+{{docid}}+"?judge=1&docid="+{{docid}}+"&rank="+{{rank}}, complete: function(data){
    $('#mark').replaceWith('<div id="mark"><br/>Saved </div>');
     } }); }
function markNonRelevant(){$.ajax({ url:"/treconomics/doc/"+{{docid}}+"?judge=0&docid="+{{docid}}+"&rank="+{{rank}}, complete: function(data){
     $('#mark').replaceWith('<div id="mark">  <button class="largebutton" type="relevant" value="{{docid}}" name="{{docid}}" onclick="markRelevant()" >Save </button></div>');
     } }); }
</script>



<div>
 {% if bot_ad %}
    <div class="search_result" id="{{ bot_ad.topic_num }}" rank="ad-bot" page="landing" whooshid="{{docid}}">
            <div class="results_squash"><div class="ad">
    <a href="JavaScript:taskPopup('{{bot_ad.url}}');">
        <img height="150" src="{{bot_ad.adimage.url}}" alt="{{bot_ad.title}}" />
        <a>
            </div></div></div>
 {% endif  %}
</div>


{% endblock %}


{% block side_results %}
<div id="sidebar" >
    {% if side_ads %}
        {% for ad in side_ads %}
            <div class="search_result"  id="{{ ad.topic_num }}" rank="ad-side" page="landing" whooshid="{{docid}}">
                <div class="ad">
                    <a href="JavaScript:taskPopup('{{bot_ad.url}}');">
                    <img width="200" src="{{ad.adimage.url}}" alt="{{ad.title}}" />
                    <a>
                </div>
            </div>
            {% endfor %}
    {% endif %}
</div>

{% endblock %}




<!-- ><button class="largebutton" type="relevant" value="{{docid}}" name="{{docid}}" onclick="markNonRelevant()" >Mark as Not Relevant </button> -->

{% block exp_footer_block %}
Participant: {{participant}}  - Condition: {{condition}} - Task: {{task}} - TREC DocID: {{ docnum }} - Whoosh DocNum: {{ docid }}
{% endblock %}
