{% extends 'base/base.html' %}
{% load staticfiles %}


{% block exp_info_block %}
<style>
    .active { color:blue; text-decoration: line-through; }
</style>

<script type="text/javascript"  src="{% static 'javascripts/pst.js' %}"></script>


<p> <!-- a href="/treconomics/logout">Logout</a> -->
 </p>
{% endblock %}

{% block exp_block %}
<script>
</script>

<div>
<p class="experimentPageTitle">
<h2>Perceptual Speed Test - Finding A's</h2>
<div id="pst_instructions">
    <p> You will be shown lists of words.
        Your task is to select/click all the words which contain the letter 'a'.<br/>
        You can de-select the word by clicking it again.
        Selected words are shown with strike through the word.<br/>


        You can try practicing with the words below.<br/>

        <table  style="width:40%;  background-color:#e9f5f7;">
    <tr><td>monkey</td><td>glasses</td></tr>
    <tr>  <td>boats</td><td>yellow</td></tr>
</table>

</p>
    <p>

        You will have a number of pages to complete.<br/>

        At the bottom of the table you will be able to select each page.<br/>

        Note that you will only have x minutes to correctly identify as many words containing
        the letter 'a' as possible.<br/>

        Once you are ready, press the start button to begin.<br/>

    </p>

</div>

    <div >
    <div id="startbtn">
            <button  class="largebutton" type="start">Start</button>
    </div>
    </div>


    <div id="pst_test" style="padding-top:40px">
        <h3>Select as many word with 'a' in as possible on each of the pages.</h3>


        <div id="pst1">
            <div style="padding-top:30px;padding-bottom:10px;">Page 1 of 2</div>

    <table class="tabskbox" style="width:100%;  background-color:#e9f5f7;">
  <tr><td>XXXXXX</td><td>glasses</td><td>books</td><td>yellow</td><td>cruel</td></tr>
  <tr><td>branch</td><td>petrol</td><td>helmet</td><td>pensive</td><td>spawn</td></tr>
   <tr><td>jungle</td><td>hatred</td><td>pencil</td><td>ideal</td><td>boring</td></tr>
  <tr><td>spate</td><td>green</td><td>tissue</td><td>terror</td><td>happy</td></tr>
   <tr><td>phone</td><td>strict</td><td>bashful</td><td>purpose</td><td>forage</td></tr>
    <tr><td>curse</td><td>heard</td><td>remorse</td><td>plenty</td><td>lively</td></tr>
    <tr><td>drive</td> <td>scandal</td><td>decision</td><td>keeper</td><td>behave</td></tr>
   <tr><td>house</td><td>glasses</td><td>books</td><td>yellow</td><td>cruel</td></tr>
  <tr><td>branch</td><td>petrol</td><td>helmet</td><td>pensive</td><td>spawn</td></tr>
   <tr><td>jungle</td><td>hatred</td><td>pencil</td><td>ideal</td><td>boring</td></tr>
  <tr><td>spate</td><td>green</td><td>tissue</td><td>terror</td><td>happy</td></tr>
    </table>
    </div>
        <div id="pst2">
            <span>Page 2 of 2</span>
        <table style="width:100%;  background-color:#e9f5f7;">

  <tr><td>spate</td><td>green</td><td>tissue</td><td>terror</td><td>happy</td></tr>
   <tr><td>phone</td><td>strict</td><td>bashful</td><td>purpose</td><td>forage</td></tr>
    <tr><td>curse</td><td>heard</td><td>remorse</td><td>plenty</td><td>lively</td></tr>
    <tr><td>drive</td> <td>scandal</td><td>decision</td><td>keeper</td><td>behave</td></tr>
   <tr><td>house</td><td>glasses</td><td>books</td><td>yellow</td><td>cruel</td></tr>
  <tr><td>branch</td><td>petrol</td><td>helmet</td><td>pensive</td><td>spawn</td></tr>
   <tr><td>jungle</td><td>hatred</td><td>pencil</td><td>ideal</td><td>boring</td></tr>
  <tr><td>spate</td><td>green</td><td>tissue</td><td>terror</td><td>happy</td></tr>
   <tr><td>phone</td><td>strict</td><td>bashful</td><td>purpose</td><td>forage</td></tr>
    <tr><td>curse</td><td>heard</td><td>remorse</td><td>plenty</td><td>lively</td></tr>
    <tr><td>drive</td> <td>scandal</td><td>decision</td><td>keeper</td><td>behave</td></tr>
    </table>
        </div>

        <div id="pstpages" style="padding-top:40px" >
            <span id="btn1">Page 1</span> | <span id="btn2">Page 2</span>
        </div>

    </div>


    </div>



    <!--- div id="score">0 0</div> --->

<div>

    <form id="survey_form" method="post" action="{{action}}">
        {% csrf_token %}
        <input type="hidden" id="correct" name="correct" value="0">
        <input type="hidden" id="incorrect" name="incorrect" value="0">

           <div id="nextbtn" class="surveySubmitButton">
 <input class="largebutton" type="submit" name="submit" value="Submit" />
</div>

    </form>

</div>




{% endblock %}


{% block exp_footer_block %}
Participant: {{participant}}
{% endblock %}
