{% extends 'base/base.html' %}

{% block exp_info_block %}
 <p> <!-- a href="/treconomics/logout">Logout</a> -->
 </p>
{% endblock %}

{% block exp_block %}
<script>
</script>

<div>
<div class="experimentPageTitle">
<h2>Perceptual Speed Test - Finding A's</h2>
<p> </p>
<p> </p>
<p> - Test to be added - </p>
</div>
<div>


  <div class="surveySubmitButton">
        <a href="{% url 'treconomics:next' %}">
            <button class="largebutton" type="next">Next</button>
        </a>
    </div>


{% endblock %}


{% block exp_footer_block %}
Participant: {{participant}}
{% endblock %}
