{% extends 'base/base.html' %}
{% load staticfiles %}


{% block exp_info_block %}
<style>
    .active { color:blue; text-decoration: line-through; }
</style>

<script type="text/javascript"  src="{% static 'javascripts/pst-numbers.js' %}"></script>


<p> <!-- a href="/treconomics/logout">Logout</a> -->
 </p>
{% endblock %}

{% block exp_block %}


<div>
<p class="experimentPageTitle">
<h2>Perceptual Speed Test - Number Comparison</h2>


<div id="pst_instructions">
    <p> You will be shown a list of numbers.
        Your task is to identify when the two numbers in the same row are the same.

        <br/>
        You can indicate they are the same by clicking on the box between the two numbers.

        You can de-select it by by clicking the box again.
 Selected rows are shown with an X.<br/>
        You can try practicing with the words below.<br/>

        <table class="perceptual-numbers" style="width:40%;  background-color:#e9f5f7;">
    <tr align="center"><td class="number">123</td><td class="check"></td><td class="number right">321</td></tr>
    <tr align="center">  <td class="number">839</td><td class="check same"></td><td class="number right">839</td></tr>
</table>

</p>
    <p>

        You will have FIVE pages to complete.<br/>
        At the bottom of the table you will be able to select each page.<br/>
        Note that you will only have 2 minutes to correctly identify as many number pairs as possible. <br/>
        Once you are ready, press the start button to begin.<br/>

    </p>

</div>

    <div id="finished">
        You've now completed the survey, please click the "next" button to continue.

    </div>

    <div >
    <div id="startbtn">
            <button  class="largebutton" type="start">Start</button>
    </div>
    </div>


    <div id="pst_test" style="padding-top:00px">
        <h3>Select rows which contain the same number across all pages. Time remaining: <span id="timer"></span></h3>

        <div id="pst1">
            <div style="padding-top:30px;padding-bottom:10px;">Page 1 of 5</div>

    <table class="tabskbox perceptual-numbers" style="width:40%;  background-color:#e9f5f7;">
<tr><td class="number">871837917</td><td  align="center" class="check same"></td><td class="number right">871837917</td></tr>
<tr><td class="number">841</td><td  align="center" class="check same"></td><td class="number right">841</td></tr>
<tr><td class="number">63233559221</td><td  align="center" class="check"></td><td class="number right">63233759221</td></tr>
<tr><td class="number">709752247401</td><td  align="center" class="check"></td><td class="number right">709752247411</td></tr>
<tr><td class="number">9934727</td><td  align="center" class="check same"></td><td class="number right">9934727</td></tr>
<tr><td class="number">83536611789</td><td  align="center" class="check"></td><td class="number right">83556611789</td></tr>
<tr><td class="number">1332166758</td><td  align="center" class="check"></td><td class="number right">1332266758</td></tr>
<tr><td class="number">57607425</td><td  align="center" class="check same"></td><td class="number right">57607425</td></tr>
<tr><td class="number">52532598</td><td  align="center" class="check same"></td><td class="number right">52532598</td></tr>
<tr><td class="number">797050</td><td  align="center" class="check"></td><td class="number right">794050</td></tr>
<tr><td class="number">6055205041</td><td  align="center" class="check same"></td><td class="number right">6055205041</td></tr>
<tr><td class="number">848073665907</td><td  align="center" class="check"></td><td class="number right">848073695907</td></tr>
<tr><td class="number">3093450</td><td  align="center" class="check same"></td><td class="number right">3093450</td></tr>
<tr><td class="number">2671</td><td  align="center" class="check same"></td><td class="number right">2671</td></tr>
        </table> 
    </div>
        <div id="pst2">
            <div style="padding-top:30px;padding-bottom:10px;">Page 2 of 5</div>
        <table class="perceptual-numbers" style="width:40%;  background-color:#e9f5f7;">
<tr><td class="number">157471880</td><td class="check"></td><td class="number right">157411880</td></tr>
<tr><td class="number">29533</td><td class="check"></td><td class="number right">25533</td></tr>
<tr><td class="number">38089109</td><td class="check same"></td><td class="number right">38089109</td></tr>
<tr><td class="number">3372830</td><td class="check same"></td><td class="number right">3372830</td></tr>
<tr><td class="number">556119</td><td class="check"></td><td class="number right">506119</td></tr>
<tr><td class="number">48513063</td><td class="check same"></td><td class="number right">48513063</td></tr>
<tr><td class="number">8873198566</td><td class="check"></td><td class="number right">8873198576</td></tr>
<tr><td class="number">55765</td><td class="check same"></td><td class="number right">55765</td></tr>
<tr><td class="number">634611892</td><td class="check"></td><td class="number right">634611882</td></tr>
<tr><td class="number">98545</td><td class="check"></td><td class="number right">98585</td></tr>
<tr><td class="number">1643107</td><td class="check same"></td><td class="number right">1643107</td></tr>
<tr><td class="number">268025621534</td><td class="check"></td><td class="number right">268025621514</td></tr>
<tr><td class="number">6590662295</td><td class="check"></td><td class="number right">6590662595</td></tr>
<tr><td class="number">8322817</td><td class="check same"></td><td class="number right">8322817</td></tr>

    </table>
        </div>

          <div id="pst3">
            <div style="padding-top:30px;padding-bottom:10px;">Page 3 of 5</div>
        <table class="perceptual-numbers" style="width:40%;  background-color:#e9f5f7;">

            <tr align="center"><td class="number">626478901</td><td class="check"></td><td class="number right">626479901</td></tr>
    <tr align="center"><td class="number">89387659</td><td class="check same"></td><td class="number right">89387659</td></tr>
<tr align="center"><td class="number">51802</td><td class="check same"></td><td class="number right">51802</td></tr>
<tr align="center"><td class="number">95476564</td><td class="check same"></td><td class="number right">95476564</td></tr>
<tr align="center"><td class="number">23899803</td><td class="check same"></td><td class="number right">23899803</td></tr>
<tr align="center"><td class="number">2024219</td><td class="check"></td><td class="number right">2024299</td></tr>
<tr align="center"><td class="number">19557288348</td><td class="check"></td><td class="number right">19557288388</td></tr>
<tr align="center"><td class="number">64702231199</td><td class="check same"></td><td class="number right">64702231199</td></tr>
<tr align="center"><td class="number">49079244777</td><td class="check"></td><td class="number right">49079244277</td></tr>
<tr align="center"><td class="number">626478901</td><td class="check"></td><td class="number right">626479901</td></tr>
<tr align="center"><td class="number">286</td><td class="check same"></td><td class="number right">286</td></tr>
<tr align="center"><td class="number">8432</td><td class="check"></td><td class="number right">8442</td></tr>
<tr align="center"><td class="number">6072225478</td><td class="check"></td><td class="number right">6072225488</td></tr>
<tr align="center"><td class="number">971838452794</td><td class="check"></td><td class="number right">971838452784</td></tr></table>
        </div>


          <div id="pst4">
            <div style="padding-top:30px;padding-bottom:10px;">Page 4 of 5</div>
        <table class="perceptual-numbers" style="width:40%;  background-color:#e9f5f7;">
<tr align="center"><td class="number">43109987122</td><td class="check"></td><td class="number right">43179987122</td></tr>
<tr align="center"><td class="number">356477637</td><td class="check same"></td><td class="number right">356477637</td></tr>
<tr align="center"><td class="number">603661135989</td><td class="check"></td><td class="number right">603661134989</td></tr>
<tr align="center"><td class="number">192373421</td><td class="check same"></td><td class="number right">192373421</td></tr>
<tr align="center"><td class="number">5945</td><td class="check same"></td><td class="number right">5945</td></tr>
<tr align="center"><td class="number">1502253</td><td class="check same"></td><td class="number right">1502253</td></tr>
<tr align="center"><td class="number">99388887810</td><td class="check same"></td><td class="number right">99388887810</td></tr>
<tr align="center"><td class="number">14419504</td><td class="check same"></td><td class="number right">14419504</td></tr>
<tr align="center"><td class="number">4498269892</td><td class="check same"></td><td class="number right">4498269892</td></tr>
<tr align="center"><td class="number">401772845</td><td class="check"></td><td class="number right">401272845</td></tr>
<tr align="center"><td class="number">85735848451</td><td class="check"></td><td class="number right">85730848451</td></tr>
<tr align="center"><td class="number">33501623</td><td class="check same"></td><td class="number right">33501623</td></tr>
<tr align="center"><td class="number">1374409787</td><td class="check"></td><td class="number right">1374403787</td></tr>
<tr align="center"><td class="number">647247622</td><td class="check"></td><td class="number right">647247322</td></tr>   </table>
        </div>

                  <div id="pst5">
            <div style="padding-top:30px;padding-bottom:10px;">Page 5 of 5</div>
        <table class="perceptual-numbers" style="width:40%;  background-color:#e9f5f7;">
<tr align="center"><td class="number">54956</td><td class="check same"></td><td class="number right">54956</td></tr>
<tr align="center"><td class="number">628778024053</td><td class="check"></td><td class="number right">628778024953</td></tr>
<tr align="center"><td class="number">66661937431</td><td class="check same"></td><td class="number right">66661937431</td></tr>
<tr align="center"><td class="number">588631</td><td class="check"></td><td class="number right">558631</td></tr>
<tr align="center"><td class="number">49289247138</td><td class="check same"></td><td class="number right">49289247138</td></tr>
<tr align="center"><td class="number">254</td><td class="check same"></td><td class="number right">254</td></tr>
<tr align="center"><td class="number">862081426892</td><td class="check"></td><td class="number right">862081426992</td></tr>
<tr align="center"><td class="number">64121573</td><td class="check same"></td><td class="number right">64121573</td></tr>
<tr align="center"><td class="number">79057814</td><td class="check"></td><td class="number right">79057804</td></tr>
<tr align="center"><td class="number">6605</td><td class="check same"></td><td class="number right">6605</td></tr>
<tr align="center"><td class="number">202758</td><td class="check same"></td><td class="number right">202758</td></tr>
<tr align="center"><td class="number">2589332263</td><td class="check same"></td><td class="number right">2589332263</td></tr>
<tr align="center"><td class="number">192429717519</td><td class="check"></td><td class="number right">192429717619</td></tr>
<tr align="center"><td class="number">270890886934</td><td class="check"></td><td class="number right">270890886944</td></tr>

    </table>
        </div>



        <div id="pstpages" style="padding-top:30px" >
            <span class="span_btn" id="btn1">Page 1</span>
            <span id="btn2" class="span_btn">Page 2</span>
            <span id="btn3" class="span_btn">Page 3</span>
            <span id="btn4" class="span_btn">Page 4</span>
            <span id="btn5" class="span_btn">Page 5</span>
        </div>

    </div>


    </div>



    <!--- div id="score">0 0</div> --->

<div>

    <form id="survey_form" method="post" action="{{action}}">
        {% csrf_token %}
        <input type="hidden" id="correct" name="correct" value="0">
        <input type="hidden" id="incorrect" name="incorrect" value="0">

           <div id="nextbtn" class="surveySubmitButton">
 <input class="largebutton" type="submit" name="submit" value="Next" />
</div>

    </form>

</div>




{% endblock %}


{% block exp_footer_block %}
Participant: {{participant}}
{% endblock %}
