{% extends 'base/base.html' %}
{% load staticfiles %}


{% block exp_info_block %}
<style>
    .active { color:blue; text-decoration: line-through; }
</style>

<script type="text/javascript"  src="{% static 'javascripts/pst.js' %}"></script>


<p> <!-- a href="/treconomics/logout">Logout</a> -->
 </p>
{% endblock %}

{% block exp_block %}
<script>
</script>

<div>
<div class="experimentPageTitle">
<h2>Perceptual Speed Test - Finding A's</h2>

    <p> You will be shown lists of words.
        Your task is to select (by clicking) all the words which contain the letter 'a'.<br/>
        You can de-select the word by clicking it again. Selected are shown in blue.<br/>

        You will have a limited amount of time to find as many as you can.<br/>

        Press the start button to begin.<br/>

    </p>

    <div style="height:70px">
    <div id="startbtn">
            <button  class="largebutton" type="start">Start</button>
    </div>
    </div>

    <table id="testtbl" style="width:100%">

  <tr>
    <td>house</td>
    <td>glasses</td>
    <td>books</td>
    <td>yellow</td>
    <td>cruel</td>

  </tr>
  <tr>
    <td>branch</td>
    <td>petrol</td>
    <td>helmet</td>
    <td>pensive</td>
    <td>spawn</td>


  </tr>
   <tr>
    <td>jungle</td>
    <td>hatred</td>
    <td>pencil</td>
    <td>ideal</td>
    <td>boring</td>
  </tr>
  <tr>
  <td>spate</td>
             <td>green</td>
             <td>tissue</td>
            <td>terror</td>
             <td>happy</td>
        </tr>
   <tr>
              <td>phone</td>
             <td>strict</td>
             <td>bashful</td>
            <td>purpose</td>
             <td>forage</td>
        </tr>

           <tr>
              <td>curse</td>
             <td>heard</td>
             <td>remorse</td>
            <td>plenty</td>
             <td>lively</td>
        </tr>
           <tr>
              <td>drive</td>
             <td>scandal</td>
             <td>decision</td>
            <td>keeper</td>
             <td>behave</td>
        </tr>


</table>

</div>
    <!--- div id="score">0 0</div> --->

<div>

    <form id="survey_form" method="post" action="{{action}}">
        {% csrf_token %}
        <input type="hidden" id="correct" name="correct" value="0">
        <input type="hidden" id="incorrect" name="incorrect" value="0">

           <div id="nextbtn" class="surveySubmitButton">
 <input class="largebutton" type="submit" name="submit" value="Submit" />
</div>

    </form>






{% endblock %}


{% block exp_footer_block %}
Participant: {{participant}}
{% endblock %}
